name: Windows Greeting

on:
  push:
    branches:
      - main

jobs:
  download-xenia:
    runs-on: windows-latest

    steps:
    - name: Download latest Xenia release
      uses: actions/download-artifact@v3
      with:
        name: xenia-master.zip
        path: ./xenia

    - name: Unzip Xenia
      run: |
        mkdir xenia-extracted
        tar -xf ./xenia/xenia-master.zip -C xenia-extracted

    - name: List contents
      run: dir xenia-extracted