on:
  push:
    branches:
      - main

jobs:
  example_job:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run Script
        run: echo "Hello, Windows!"
