name: Windows Greeting

on:
  push:
    paths:
      - 'windows-greeting/**'

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Download greeting artifact
        uses: actions/download-artifact@v4
        with:
          name: greeting-artifact

      - name: Run Greeting Script
        run: |
          echo "Running Greeting Script"
