name: Xenon Recomp

on:
  push:
    paths:
      - '.github/workflows/xenonrecomp.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Restore Xenon Recomp
      run: echo 'Restoring previous version of Xenon Recomp workflow.'